*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

         /* HEADER */
header{
    background-color: orangered;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Risidmensionamento e Posizionamento Header */
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

/* Categorie di vestiti */
#categorie>a{
    margin: 5px;
    color: white;
    font-size: larger;
    text-decoration: none;   
}
#categorie>a:hover{
    text-decoration: underline;
}

/* Logo */
#logo{
    height: 70px;
}
#logo>img{
    height: 100%;
}

/* Interezione utente(registrazione, preferiti, carello) */
#utente i{
    color: white;
    margin: 5px;
}
#utente i:hover{
    color: red;
}


        /* MAIN */
/* container main flexato */
.container-flex{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Proprieta card */
.card-margine-top{
    margin-top: 100px;
}

/* dimensionamento card */
.card-size{
    height: 500px;
    width: 400px;
    position: relative;
    
     
}

/* sfondo principale card */
.card-1{
    background-image: url("img/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;  
}
.card-2{
    background-image: url("img/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;  
}
.card-3{
    background-image: url("img/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;  
}
.card-4{
    background-image: url("img/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;  
}
.card-5{
    background-image: url("img/5.jpg");
    background-size: contain;
    background-repeat: no-repeat;  
}
.card-6{
    background-image: url("img/6.jpg");
    background-size: contain;
    background-repeat: no-repeat;  
}

/* css per cambio immagne col maouse */
.card-1b:hover{
    background-image: url("img/1b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.card-2b:hover{
    background-image: url("img/2b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.card-3b:hover{
    background-image: url("img/3b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.card-4b:hover{
    background-image: url("img/4b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.card-5b:hover{
    background-image: url("img/5b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.card-6b:hover{
    background-image: url("img/6b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


/* Proprieta Marca Nome articolo e prezzo sconytato */
.marca{
    color: gray;
}
.articolo{
    font-weight: bold;
    font-size: large;
}
.prezzo-scontato{
    display: inline-block;
    font-weight: bold;
    color: red;
    font-size: large;
}
.prezzo-scontato::after{
    content: "\20AC";
}
.prezzo-intero{
    color: gray;
    text-decoration: line-through;
}
.prezzo-intero::after{
    content: "\20AC";
}


/* Proprietà cuore e scondit interni alle foto*/
/* Proprieta cuore */
.card-size i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}
.card-size i:hover{
    color: red;
}

/* Proprieta sconto */
.discount-inside-immage{
    background-color: red;
    color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 40px;
    padding: 4px;
}

.sostenibilita{
    background-color: green;
    color: white;
    height: 30px;
    width: 90px;
    position: absolute;
    bottom: 40px; 
    left: 40px;
    padding: 4px;
    
    
}

         /* FOOTER */
footer{
    background-color: rgb(5, 5, 69);
    margin-top: 15px ;
}
#info-footer{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

/* Info legali e privacy */
#privacy a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
#privacy a:hover{
    text-decoration: underline;
    color: red;
}

/* Social */
.social a{
    margin-right: 5px;
    text-decoration: none;
    color: white;
}
.social a:hover{
    color: red;
}
